@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  margin: 0;
  background-color: #f4abc4;
  font-family: "Satisfy", cursive;
}
h1 {
  margin-top: 50px;
  font-size: 4rem;
}
